/* colors:
 * green #2A2C05
 * white #EFE0B9 
 * yellow #E4B04A 
 * borwn #643B0F 
 * orange #B7521E */ 

body {
  background: #643B0F;
  font-family: arial;
}

.populations {
  display: flex;
  flex-wrap: wrap;
}

.timeline-wrapper {
  width: 50%;
  margin: auto;
}

/* Timeline */
.timeline {
  width: 100%;
  height: 2em;
  background: #EFE0B9;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

.timeline__indicator-wrapper {
  width: 95%;
  height: 100%;
}

.timeline__indicator {
  width: 5%;
  height: 100%;
  background: #B7521E;
  margin-left: 0%;
}

.timeline__legend {
  position: relative;
  width: 95%;
  margin-top: 10px;
}

.timeline__year {
  position: absolute;
  color: #EFE0B9;
}


/* IslandTile */
.island-tile {
  padding: 20px 0;
  margin: 20px 50px;
  min-width: 200px;
}

.island-tile__name {
  color: #E4B04A;
  font-size: 2em;
  margin: 20px 0;
}

.island-tile__population {
  color: #EFE0B9;
  font-size: 1.8em;
}
