/* colors:
 * green #2A2C05
 * white #EFE0B9 
 * yellow #E4B04A 
 * borwn #643B0F 
 * orange #B7521E */ 

body {
  background: #643B0F;
  font-family: arial;
}

h1 {
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
  color: black;
}

footer, footer a {
  text-align: center;
  color: #E4B04A;
  margin-top: 5em;
  font-size: 0.5em;
}

.legend {
  text-align: center;
}

.populations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.play-controls-wrapper {
  width: 50%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.timeline-wrapper {
  width: 50%;
  min-width: 300px;
  margin: auto;
}

/* PlayControls */
.play-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-controls__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.play-controls__speed {
  height: 0.5em;
  width: 0.5em;
  padding: 0.6em;
  border-radius: 50%;
  color: black;
  background: #EFE0B9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-controls__toggle {
  margin: 0 2em;
  height: 1em;
  width: 1em;
  padding: 1em;
  border-radius: 50%;
  color: #EFE0B9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-controls__toggle--play {
  background: #2A2C05;
}

.play-controls__toggle--play::before {
  content: "\25B6";
}

.play-controls__toggle--pause {
  background: #B7521E;
}

.play-controls__toggle--pause::before {
  content: "";
  width: 4px;
  height: 16px;
  border-right: 4px solid #EFE0B9;
  border-left: 4px solid #EFE0B9;
}

.play-controls__yps {
  color: #EFE0B9;
}

/* Timeline */
.timeline {
  width: 100%;
  height: 1em;
  background: #EFE0B9;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

.timeline__indicator-wrapper {
  width: 95%;
  height: 100%;
}

.timeline__indicator {
  width: 5%;
  height: 100%;
  background: #B7521E;
  margin-left: 0%;
  transition: margin-left 500ms;
}

.timeline__legend {
  position: relative;
  width: 95%;
  margin-top: 10px;
}

.timeline__year {
  position: absolute;
  color: #EFE0B9;
}


/* IslandTile */
.island-tile {
  padding: 20px 0;
  margin: 20px 50px;
  width: 300px;
}

.island-tile__name {
  color: #E4B04A;
  font-size: 2em;
  margin: 20px 0;
  padding: 0 0.1em;
  border-bottom: 0.1em solid #B7521E;
}

.island-tile__population {
  color: #EFE0B9;
  font-size: 0.5em;
  font-weight: 100;
  padding-left: 1em;
}

.island-tile__pigs {
  display: flex;
  flex-wrap: wrap;
}

.island-tile__pig-wrapper {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.island-tile__pig {
  height: 100%;
  background-image: url("img/pig-icon.svg");
  background-size: cover;
}


/* Utility */
.u-pushable {
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.45);
  user-select: none;
}

.u-pushable:hover {
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
}

.u-pushable:active {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
}
